<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-4">
      <div class="container">
        <div class="title">
          <h1>Add A track</h1>
        </div>

          <div class="tracks-form">
            <%= simple_form_for ([@track]) do |t| %>
              <%= t.input :name, label: "Track Name"%>
              <!-- <input type="range" name="track[bpm]" id="track_bpm" value="1" min="1" max="400" onchange="bpm_output.value =track_bpm.value"> -->
              <%= t.input :bpm, as: :range, input_html: { :onChange => "bpm_output.value =track_bpm.value" } %>
              <output name="bpm_output" id="bpm_output">1</output>
              <%= t.input :time_signature, collection: %w[4/4 2/2 2/4 3/4 6/8] %>
              <%= t.input :key, collection: %w[A Bb B C C# D Eb E F F# G Ab] %>
              <%#= t.input :duration %>
              <%= t.association :genre, selected: Genre.first %>
              <%= t.input :file %>
              <%= t.submit "Add a New Track", class: "btn btn-light"%>
            <% end %>
      </div>
    <div>
  </div>
</div>
    </div>
  </div>
</div>
