<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="title text-center">
          <h1>Upload your unfinished track</h1>
        </div>
        <div class="tracks-form">
          <%= simple_form_for ([@track]) do |t| %>
            <%= t.input :name, label: "Track Name"%>
            <!-- <input type="range" name="track[bpm]" id="track_bpm" value="1" min="1" max="400" onchange="bpm_output.value =track_bpm.value"> -->
            <div class="slider-group">
              <%= t.input :bpm, as: :range, input_html: { :onChange => "bpm_output.value =track_bpm.value", max: 400, min: 1, width: '100%' }%>
              <div class="output">
                <output name="bpm_output" id="bpm_output">1</output>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
               <%= t.input :time_signature %>
             </div>
             <div class="col-6">
               <%= t.input :key, collection: %w[C D Db E Eb F G Gb A Ab B Bb]%>
             </div>
            </div>
            <%#= t.input :duration %>
            <%= t.association :genre, selected: Genre.first %>
            <%= t.input :file %>
            <%= t.submit "Upload",
                          class: "btn btn-light",
                          data: { disable_with: "Uploading..." }
            %>
          <% end %>
        </div>
    </div>
  </div>
</div>
