<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-4">
      <div class="container">
        <div class="title">
          <h1>Edit your profile</h1>
        </div>

          <div class="tracks-form">
            <%= simple_form_for @user do |f| %>
              <%= f.input :username %>
              <%= f.input :first_name %>
              <%= f.input :last_name %>
              <%= f.input :biography %>
              <%= f.input :instruments, as: :select, collection: Instrument.all, input_html: { multiple: true } %>
              <%= f.input :genres, as: :select, collection: Genre.all, input_html:
                  { multiple: true } %>
              <%= f.submit "Save", class: "btn btn-light" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

