<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "https://res.cloudinary.com/beartechnologies/image/upload/v1559209651/collaborate/c_symbol2_zxudvw.jpg" %>
      <% end %>
  <div class="searchbar">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div>
      <form action="/requests" accept-charset="UTF-8" method="get" style="position: relative;" class="form-search">
      <input name="utf8" type="hidden" value="✓">


      <input type="text" name="query" id="query" class="form-control" label="false" placeholder="Search requests" wrapper_html="{:class=>&quot;fas fa-search&quot;}">
       <button type="submit" class="btn btn-link" id="search-btn"><i class="fas fa-search"></i></button>
      </form>
    </div>
  </div>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Request Timeline", requests_path, class: "navbar-actions" %>
        </li>
        <li>
          <%= link_to "Post Request", new_track_path(@track_id), class: "navbar-actions" %>
        </li>


        <li class="nav-item dropdown">
          <button class="btn btn-link" id="navbarDropdown" data-toggle="dropdown" aria-haspopup='true', aria-expanded='false'>
            <i class="fas fa-bars"></i>
          </button>
          <%#= image_tag "https://res.cloudinary.com/beartechnologies/image/upload/v1559291556/collaborate/46262498_ddv3fy.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "My Final Tracks", my_final_tracks_path, class: "dropdown-item" %>
            <%= link_to "My Requests", my_requests_path, class: "dropdown-item" %>
            <%= link_to "My Sumbissions", my_submissions_path, class: "dropdown-item" %>

            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
