
<div class="submission-card-<%= !submission.nil? && submission.selected ? 'true' : 'false' %>">
    <div class="submission-card-header">
      <div>
        <h4>Artist:</h4> <h3><%= submission.user.username %></h3>
      </div>
      <div>
        <h4>Description:</h4> <h3><%= submission.name %></h3>
      </div>
    </div>

  <div class="submission-card-wav">
    <div id="track_<%= submission.id %>" class="<%= 'waveform-sub' if submission.file %>" data-track-url='<%= submission.file.url(secure: true) %>'></div>
    <div id="wave_timeline_track_<%= submission.id %>"></div>
  </div>

    <% if submission.request.track.user.id == current_user.id && !submission.request.submissions.where(selected: true).any? %>
      <div class="selected-btn">
        <%= link_to 'Accept Collaboration?', accept_submission_path(submission), method: :patch %>
      </div>
    <% elsif submission.request.track.user.id == current_user.id && submission.request.submissions.where(selected: true).any? && submission.selected? %>
      <div class="accepted-text">
        <p>Accepted</p>
        <%= submission.user.email %>
      </div>
    <% elsif submission.request.track.user.id == current_user.id && submission.request.submissions.where(selected: true).any? && !submission.selected? %>
      <div class="not-accepted-text">
        <p>Not accepted</p>
      </div>
    <% end %>

</div>
