<div class="submission-card-hull <%= !submission.nil? && submission.selected ? 'submission-card-hull-accepted' : 'submission-card-hull-rejected' %>">
    <div class="submission-card-header">
      <h3><%= submission.user.username %></h3>
      <h4><%= submission.name %></h4>
    </div>

      <div class="submission-card-wav">
        <div id="submission_<%= submission.id %>" class="<%= 'waveform' if submission.file %>" data-track-url='<%= submission.file.url(secure: true) %>'></div>
      </div>

      <div class="descripiton">
        <p><%= submission.description %></p>
      </div>


    <div class="submission-wav-details">
      <p>bpm:  <%= submission.bpm %></p>
      <p>Time Signature:  <%= submission.time_signature %></p>
      <p>Key:  <%= submission.key %></p>
    </div>
  </div>




<div class="submission-card">
  <div class="submission-card-header">
  </div>
  <div class="submission-card-body">

  </div>
  <div class="submission-card-footer">

  </div>
</div>
