<div class="submission-card-hull <%= !submission.nil? && submission.selected ? 'submission-card-true' : 'submission-card-false' %>">
    <div class="submission-card-header">
      <h3><%= submission.user.username %></h3>
      <h4><%= submission.name %></h4>
    </div>

      <div class="descripiton">
        <p><%= submission.description %></p>
      </div>

  <div class="submission-card-wav">
    <div id="track_<%= submission.id %>" class="<%= 'waveform-sub' if submission.file %>" data-track-url='<%= submission.file.url(secure: true) %>'></div>
    <div id="wave_timeline_track_<%= submission.id %>"></div>
  </div>


    <% if @request.track.user.id == current_user.id %>
    <%= link_to 'Accept Collaboration?', accept_submission_path(submission), method: :patch %>
    <% end %>
</div>



