<div class="submission-card-hull">
  <div class="header">
    <%= submission.user.username %>
    <%= submission.name %>
  </div>
    <div id="track_<%= submission.id %>" class="<%= 'waveform' if submission.file %>" data-track-url='<%= submission.file.url(secure: true) %>'></div>
  <div class="wav-details">
    <%= submission.duration %>
    <%= submission.bpm %>
    <%= submission.time_signature %>
    <%= submission.key %>
  </div>
</div>

