<div class="track-card-hull">
  <div class="header">
    <%= submission.user.username %>
    <%= submission.name %>
  </div>
    <div class="wav">
    <audio controls id="audio_file" class="audio_player" preload="auto">
      <source src="<%= submission.file %>" type="audio/wav">
    </audio>
  </div>
  <div class="wav-details">
    <%= submission.duration %>
    <%= submission.bpm %>
    <%= submission.time_signature %>
    <%= submission.key %>
  </div>
</div>
