<div class="row track-card-hull">
  <div class="header">
    <%= track.user.username %>
    <%= track.name %>
  </div>
    <div class="wav">
    <%= track.file_url %>
  </div>
  <div class="wav-details">
    <%= track.duration %>
    <%= track.bpm %>
    <%= track.time_signature %>
    <%= track.key %>
  </div>
</div>
