
 
  <div class="track-card-header">
    <div>
      <h4>Title:</h4> <h3><%= track.name %></h1>
    </div>
    <div>
      <h4>Artist:</h4> <h3><%= track.user.username %></h2>
    </div>
  </div>
<div class="track-card-hull">

  <div class="track-card-wav">
    <div 
    id="track_<%= track.id %>" 
    class="<%= "waveform" if track.file %>" 
    data-track-url='<%= track.file.url(secure: true) %>' 
    data-request-id='<%= track.requests.first.id %>' 
    data-region-start='<%= track.requests.first&.region_start %>' 
    data-region-end='<%= track.requests.first&.region_end %>'>
    </div>
    <div id="wave_timeline_track_<%= track.id %>"></div>
  </div>


  <div class="track-wav-details">
    <p>bpm: <%= track.bpm %></p>
    <p>Time Signature: <%= track.time_signature %></p>
    <p>Key: <%= track.key %></p>
  </div>
</div>


