<div class="track-card-hull">
  <div class="header">
    <%= track.user.username %>
    <%= track.name %>
  </div>
  <div id="track_<%= track.id %>" class="waveform" data-track-url='<%= track.file %>'></div>
  <div class="wav-details">
    <%= track.duration %>
    <%= track.bpm %>
    <%= track.time_signature %>
    <%= track.key %>
  </div>
</div>
