
  <div class="track-card-header">
    <h4><%= track.name %></h1>
    <h3>By: <%= track.user.username %></h2>
  </div>
<div class="track-card-hull">

  <div class="track-card-wav">
    <div id="track_<%= track.id %>" class="<%= "waveform" if track.file %>" data-track-url='<%= track.file.url(secure: true) %>' data-request-id='<%= track.requests.first.id %>' data-request-start='' data-request-end=''></div>
    <div id="wave_timeline_track_<%= track.id %>"></div>
  </div>


  <div class="track-wav-details">
    <p>Length: <%= track.duration %>s</p>
    <p>bpm: <%= track.bpm %></p>
    <p>Time Signature: <%= track.time_signature %></p>
    <p>Key: <%= track.key %></p>
  </div>
</div>


