<div class="track-card-hull">
  <div class="header">
    <%= track.user.username %>
    <%= track.name %>
  </div>
  <div class="wav">
    <audio controls id="audio_file" class="audio_player" preload="auto">
      <source src="<%= track.file %>" type="audio/wav">
    </audio>
  </div>
  <div class="wav-details">
    <%= track.duration %>
    <%= track.bpm %>
    <%= track.time_signature %>
    <%= track.key %>
  </div>
</div>

