<div class="container" id="request-show-container">
    <div class="request-show-back">
    <%= link_to "Back", requests_path, class: "btn btn-back" %>
  </div>
  <div class="index-cards">
  <%= render 'shared/track', track: @request.track %>
  </div>

  <div class="request-show-header d-flex justify-content-between">
    <div>
      <h1>Collaborate with <%= @request.track.user.username %></h1>
      <h4><%= @request.description %></h4>
    </div>

    <div>
      <% if current_user != @request.track.user %>
          <%= link_to "UPLOAD", new_request_submission_path(@request), class: "btn btn-light btn-light-2" %>
        <% else %>
          <% unless @request.submissions.where(selected: true).empty? %>
            <%= simple_form_for(@request) do |f| %>
            <%= f.input :final_track, label: "Paste your final track URL" %>
            <%= f.submit "Submit Final Track", class: "btn btn-light" %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <% if @request.final_track %>
      <div class="final_track">
          <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=<%= @request.final_track %>&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
      </div>
      <% end %>
  </div>

  <div class="request-show-submissions">
    <div class="request-show-submissions-header">
      <h2>Submissions</h2>
      <br>
      <% if current_user != @request.track.user %>
      <h4>If you would like to submit a collaboration request remember to follow these steps:</h4>
        <br>
        <ul>
          <li><h4>Listen to the track</h4></li>
          <li><h4>Read the description</h4></li>
          <li><h4>Use the correct insrument</h4></li>
          <li><h4>Record at the same bpm, key and time signature</h4></li>
          <li><h4>Remember to always start recording from 0! </h4></li>
        </ul>
      <br>
      <br>
      <% end %>
    </div>
    <% @request.submissions.each do |submission|  %>
      <%= render 'shared/submission_card', submission: submission %>
    <% end %>
  </div>
</div>

