<div class="container">
  <h1>Collaborate with <%= @request.track.user.username %></h1>

  <p><%= @request.description %></p>

  <%= render 'shared/track', track: @request.track %>


  <%= link_to "Return to Tracks Timeline", requests_path, class: "btn btn-primary" %>

  <%= link_to "Placeholder for Download", request_path, class: "btn btn-danger" %>



<h1>Click below to collaborate with <%= @request.track.user.username %></h1>
<%= link_to "Collaborate", new_request_submission_path(@request), class: "btn btn-primary" %>



  <div>
    <h2>Already submitted:</h2>
    <% @request.submissions.each do |submission|  %>
      <%= render 'shared/submission_card', submission: submission %>

    <% end %>

  </div>
</div>
