<div class="container">
  <h1>Collaborate with <%= @request.track.user.username %></h1>

  <p><%= @request.description %></p>

  <%= render 'shared/track', track: @request.track %>


  <%= link_to "Return to Tracks Timeline", requests_path, class: "btn btn-primary" %>

  <%= link_to "Placeholder for Download", request_path, class: "btn btn-danger" %>



<h1>Post a track to collaborate with <%= @request.track.user.username %></h1>

<div class="tracks-form">
    <%= simple_form_for ([@request, @submission]) do |s| %>
      <%= s.input :description %>
      <%= s.input :file %>
      <%= s.input :name %>
      <%= s.input :bpm %>
      <%= s.input :time_signature %>
      <%= s.input :key %>
      <%= s.input :duration %>
      <%= s.submit "Collaborate", class: "btn btn-primary"%>
    <% end %>
  </div>

<div>
  <h2>Already submitted:</h2>
  <% @request.submissions.each do |submission|  %>
    <%= render 'shared/submission_card', submission: submission %>

  <% end %>

</div>
</div>
