<h1>Post a track to collaborate with <%= @request.track.user.username %></h1>


<div class="tracks-form">
    <%= simple_form_for ([@request, @submission]) do |s| %>
      <%= s.input :description %>
      <%= s.input :name %>
      <%= s.input :bpm %>
      <%= s.input :time_signature %>
      <%= s.input :key %>
      <%= s.input :duration %>
      <%= s.input :file %>
      <%= s.submit "Collaborate", class: "btn btn-primary"%>
    <% end %>
  </div>

