<div class="container">
  <div class="tracks-form">
  <h1>Post a track to collaborate with <%= @request.track.user.username %></h1>
      <%= simple_form_for ([@request, @submission]) do |s| %>
        <%= s.input :description %>
        <%= s.input :name %>
        <!-- <div class="row">
          <div class="col-6">
            <%= s.input :bpm %>
          </div>
          <div class="col-6">
            <%= s.input :time_signature %>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <%= s.input :key %>
          </div>
          <div class="col-6">
            <%= s.input :duration %>
          </div>
        </div> -->
        <%= s.input :file %>
        <%= s.submit "Collaborate", class: "btn btn-primary"%>
      <% end %>
    </div>
</div>
